header {
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
}
.menu {
  display: flex;
  list-style: none;
  padding: 10px 5px;
  text-align: center;
}
.burger {
  width: 25px;
  height: 15px;
  cursor: pointer;
  margin: 1rem 2rem;
}
.burger .line {
  width: 100%;
  height: 2px;
  background-color: black;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}
@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }
  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }
  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }
  nav.active .menu {
    display: block;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  nav.active .menu li {
    margin: 10px 20px;
  }
  nav.active .menu a {
    font-size: 15px;
  }
}
.category_list_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  gap: 15px;
  padding: 15px 10px;
}
/* produktliste */
.product_list_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 15px;
  gap: 10px;
}
.produkt {
  border: 1px solid black;
}
.produkt_rabat {
  border: 1px solid black;
  display: grid;
}
.rabat,
.rabat_sold {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  align-self: stretch;
}
.discount,
.sold_out {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}
.discount {
  place-self: start end;
  margin: 15px;
  padding: 10px;
  z-index: 10;
}
.sold_out {
  place-self: center;
  padding: 18px;
  z-index: 10;
}
/* Produkt */
.produktbeskrivelser {
  display: grid;

  gap: 20px;
  margin: 2rem;
}
.produkt_info {
  padding: 15px;
}
.p_produkt {
  padding-bottom: 10px;
  text-align: center;
}
.kategorier {
  column-count: 2;
  padding: 25px;
  text-align: center;
}
.choose_size {
  display: flex;
  justify-content: center;
  padding: 15px;
}
.knapper {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  padding: 8px;
}
/* DESKTOP */
@media (min-width: 850px) {
  .produktbeskrivelser {
    grid-template-columns: repeat(2, 1fr);
  }
  main {
    max-width: 1100px;
    margin: 0 auto;
  }
  .category_list_container {
    gap: 15px;
  }
  .category_list_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  /* produktliste */
  .product_list_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 15px;
    gap: 10px;
  }
  /* PRODUKT */
  .kategorier {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
