* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
@font-face {
  font-family: dm_sans;
  src: url(../fonts/dm_sans/dmsans-variablefont_opszwght-webfont.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: gaso;
  src: url(../fonts/gaso/gasoekone-regular-webfont.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
header {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid black;
  padding: 10px 15px;
}
.menu a {
  display: block;
  color: black;
  padding: 5px;
  text-decoration: none;
}
.menu a:hover {
  color: red;
}
body {
  background-color: rgba(255, 252, 252, 0.753);
}
h2 {
  font-size: 18px;
  font-family: gaso;
  font-weight: 100;
  padding: 25px 15px;
  color: red;
}
.forside {
  text-align: center;
  color: black;
}
.category {
  text-decoration: none;
  color: black;
  font-family: gaso;
  font-weight: 100;
  font-size: 15px;
  background-color: rgb(239, 69, 69);
  border: 1px solid black;
  border-radius: 10px;
  padding: 25px;
}
.category:hover {
  color: white;
}
.displaynavn {
  font-size: 17px;
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 5px;
  text-align: center;
}
h3 {
  font-family: gaso;
  font-size: 12px;
  font-weight: 100;
  padding-top: 5px;

  text-align: center;
}
h4 {
  color: rgb(155, 155, 155);
  font-family: dm_sans;
  font-size: 14px;
  text-align: center;
}
.pris,
.pris_tilbud {
  font-family: dm_sans;
  font-size: 14px;
  font-weight: 900;
  text-align: center;
  padding: 5px;
}
.pris_tilbud {
  text-decoration: line-through;
  visibility: hidden;
}
.pris_tilbud_on {
  visibility: visible;
}
a {
  text-decoration: none;
  color: inherit;
}
.produkt {
  border: 1px solid black;
  visibility: hidden;
}
.produkt_rabat {
  border: 1px solid black;
  display: grid;
}
.discount {
  font-size: 14px;
  font-family: gaso;
  background-color: red;
  visibility: hidden;
}
.sold_out {
  font-size: 18px;
  font-family: gaso;
  background-color: white;
  border: 1px solid black;
  visibility: hidden;
}
.discount_on {
  visibility: visible;
}
.sold_out_on {
  visibility: visible;
}
.skjul {
  visibility: hidden;
}
.skjul_on {
  visibility: visible;
}
.rabat_sold {
  opacity: 0.3;
}
/* PRODUKT */
.navigation {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  padding-top: 15px;
  text-align: center;
  color: darkgrey;
}
.index:hover {
  color: red;
}
.p_produkt {
  font-family: gaso;
  font-size: 22px;
}
.info {
  list-style: none;
  font-family: gaso;
  font-size: 14px;
  padding: 2px;
  padding-top: 8px;
}
.info:hover {
  color: red;
}
p {
  font-family: dm_sans;
}
.old_price {
  text-decoration: line-through;
}
.beskrivelse {
  font-family: dm_sans;
  font-size: 15px;
  padding-bottom: 12px;
}
.produkt_info {
  background-color: rgb(241, 232, 232);
}
.discount_produkt {
  font-size: 13px;
  color: red;
  align-self: center;
  padding: 5px;
}
.info_pris {
  text-decoration: line-through;
}
.choose_size {
  font-family: gaso;
  font-weight: 100;
  font-size: 14px;
  gap: 10px;
}
.choose_size:hover {
  color: red;
}
.knap_kurv,
.knap_buy {
  background-color: darkgrey;
  color: white;
  border-radius: 10px;
  border: 1px solid black;
}
.knap_kurv:hover,
.knap_buy:hover {
  color: red;
  background-color: white;
  border: 1px solid black;
}
.knapper {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 12px;
}
@media (min-width: 850px) {
  header {
    font-size: 15px;
  }
  h2 {
    font-size: 30px;
    font-family: gaso;
    padding: 25px 15px;
  }
  .category {
    font-size: 20px;
    padding: 2rem;
  }
  .navigation {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding-top: 20px;
  }
  .displaynavn {
    font-size: 22px;
  }
  .p_produkt {
    font-size: 30px;
  }
  .info,
  .choose_size {
    font-size: 20px;
  }
  .beskrivelse {
    font-size: 18px;
  }
  .knapper {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 15px;
    padding: 10px;
  }
}
